Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Config file lifecycle
  apps/fg_http/lib/fg_http/application.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/test/fg_http_web/live/new_device_live_test.exs
  apps/fg_vpn/lib/fg_vpn.ex
  apps/fg_vpn/lib/fg_vpn/application.ex
  apps/fg_vpn/lib/fg_vpn/config.ex
  apps/fg_vpn/mix.exs
  apps/fg_vpn/test/fg_vpn/config_test.exs
  apps/fg_vpn/test/fg_vpn_test.exs
  apps/fg_vpn/test/fixtures/wg-fireguard.conf
  apps/fg_wall/lib/fg_wall/application.ex
  apps/fg_wall/mix.exs
  config/config.exs
Due: mix-test, mix-format, mix-lint, mix-compile

test rendering of config
  apps/fg_vpn/lib/fg_vpn/cli.ex
  apps/fg_vpn/lib/fg_vpn/config.ex
  apps/fg_vpn/lib/fg_vpn/wg_cli.ex
  apps/fg_vpn/test/fg_vpn/config_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Config fixes
  config/config.exs
  config/releases.exs
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint

Add route command
  .github/workflows/ci.yml
Due: none

Add empty fixtures dir
  apps/fg_vpn/test/fixtures/.gitkeep
Due: none

Fix config option as string
  config/releases.exs
Due: mix-test, mix-format, mix-lint

Some early CLI work
  .tool-versions
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  apps/fg_vpn/lib/fg_vpn/cli.ex
  apps/fg_vpn/lib/fg_vpn/config.ex
  apps/fg_vpn/test/fg_vpn/cli_test.exs
  apps/fg_vpn/test/fg_vpn/config_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Fix config
  .github/workflows/ci.yml
  ansible/playbook.yml
  apps/fg_http/lib/fg_http/email.ex
  apps/fg_vpn/lib/fg_vpn/config.ex
  config/config.exs
  config/prod.exs
  mix.lock
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint, mix-compile

Install package dependencies
  .github/workflows/ci.yml
Due: none

Heed warnings about compile/runtime config
  .github/workflows/ci.yml
  config/prod.exs
Due: mix-test, mix-format, mix-lint

don't validate release config runtime vs compile time
  mix.exs
Due: mix-test, mix-format, mix-lint

read pubkey from wireguard privkey
  apps/fg_vpn/lib/fg_vpn/cli.ex
  apps/fg_vpn/lib/fg_vpn/config.ex
  apps/fg_vpn/test/fg_vpn/cli_test.exs
  apps/fg_vpn/test/fg_vpn/config_test.exs
  config/releases.exs
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint, mix-compile

Add peer before sending to user
  apps/fg_http/lib/fg_http/devices/device.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.html.leex
  apps/fg_http/test/fg_http_web/live/new_device_live_test.exs
  apps/fg_vpn/lib/fg_vpn/config.ex
  apps/fg_vpn/test/fg_vpn/config_test.exs
  config/dev.exs
  config/releases.exs
  config/test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

checkpoint
  README.md
  ansible/playbook.yml
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/test/fg_http/users_test.exs
  scripts/build_deb.sh
  scripts/build_release.sh
  scripts/create_user.sh
  scripts/start_fg_http.sh
Due: mix-test, mix-format, mix-lint, mix-compile

Bootstrap user when provisioning
  .env.sample
  ansible/playbook.yml
  apps/fg_http/lib/fg_http/application.ex
  apps/fg_http/lib/fg_http/release.ex
  pkg/debian/DEBIAN/postinst
  scripts/create_user.sh
Due: mix-test, mix-format, mix-lint, mix-compile

Use systemd like a boss
  ansible/playbook.yml
  apps/fg_http/lib/fg_http/application.ex
  apps/fg_http/lib/fg_http/release.ex
  pkg/debian/lib/systemd/system/fireguard.service
Due: mix-test, mix-format, mix-lint, mix-compile

Fix functional test
  .github/workflows/ci.yml
Due: none

update runtimes
  .github/workflows/ci.yml
  .tool-versions
  apps/fg_http/lib/fg_http_web/live/new_device_live.html.leex
Due: none

Revert to 1.11.2 for CI
  .github/workflows/ci.yml
Due: none

Don't add device to config file until user confirms; Add rustler
  .gitignore
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.html.leex
  apps/fg_vpn/lib/fg_vpn/config.ex
  apps/fg_vpn/lib/fg_vpn/server.ex
  apps/fg_vpn/mix.exs
  apps/fg_vpn/native/fgvpn_server/.cargo/config
  apps/fg_vpn/native/fgvpn_server/Cargo.lock
  apps/fg_vpn/native/fgvpn_server/Cargo.toml
  apps/fg_vpn/native/fgvpn_server/README.md
  apps/fg_vpn/native/fgvpn_server/src/lib.rs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

Path conditions:
  mix-test: any of: \.exs?$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
