Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

erlang 23.1.1
  .tool-versions
Due: none

update deps
  mix.lock
Due: none

update workflow dependencies
  .github/workflows/main.yml
Due: none

Fix CSRF
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Docs Update
  .github/workflows/main.yml
  .tool-versions
  CONTRIBUTING.md
  README.md
  Vagrantfile
  ansible/local.yml
  ansible/sample_conf/wg-client.conf
  ansible/sample_conf/wg-server.conf
  apps/fg_vpn/lib/fg_vpn/wg_cli.ex
  vagrant/provision_deps.sh
  vagrant/provision_runtimes.sh
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint getting build working
  .dockerignore
  Dockerfile.base
  Dockerfile.build
  Vagrantfile
  ansible/playbook.yml
  apps/fg_http/assets/package.json
  apps/fg_http/mix.exs
  apps/fg_http/node_modules
  apps/fg_http/package-lock.json
  apps/fg_http/package.json
  apps/fg_vpn/mix.exs
  apps/fg_wall/mix.exs
  mix.exs
Due: mix-test, mix-format, mix-lint

Test building/publishing package
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Dockerfile.base
  Dockerfile.build
  ansible/playbook.yml
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  apps/fg_http/node_modules
  apps/fg_http/package-lock.json
  apps/fg_http/package.json
  mix.exs
  pkg/Dockerfile
  pkg/build.sh
  pkg/debian/DEBIAN/control
Due: mix-test, mix-format, mix-lint

use ubuntu 20.04
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

try diff elixir ver
  .github/workflows/main.yml
Due: none

ensure openssl is around
  .github/workflows/main.yml
Due: none

install elixir myself
  .github/workflows/main.yml
  scripts/bootstrap_fireguard_dev.sql
  scripts/build.sh
  scripts/install_asdf.sh
  scripts/start_fg_http.sh
Due: none

add bashrc
  .github/workflows/main.yml
  scripts/install_asdf.sh
Due: none

asdf reshim
  .github/workflows/main.yml
Due: none

use prebuilt erlang/elixir
  .github/workflows/main.yml
  pkg/Dockerfile
  scripts/build.sh
  scripts/install_runtimes.sh
Due: none

install libssl
  .github/workflows/main.yml
Due: none

sudo
  .github/workflows/main.yml
Due: none

use docker to build
  .github/workflows/main.yml
Due: none

build from workflow
  .github/workflows/main.yml
  pkg/Dockerfile
  scripts/build.sh
  scripts/install_runtimes.sh
Due: none

name package based on tag_name
  .github/workflows/main.yml
  apps/fg_http/mix.exs
  mix.lock
  pkg/Dockerfile
Due: mix-test, mix-format, mix-lint

Path conditions:
  mix-test: any of: \.exs?$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
