Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

ahh fuck it
  .pre-commit-config.yaml
Due: none

checkpoint
  .pre-commit-config.yaml
  apps/fg_http/lib/fg_http/devices/device.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/password_reset_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/plugs/redirect_authenticated.ex
  apps/fg_http/lib/fg_http_web/plugs/session_loader.ex
  apps/fg_http/mix.exs
  apps/fg_http/priv/repo/migrations/20200225005454_create_users.exs
  apps/fg_http/priv/repo/migrations/20200228145810_create_devices.exs
  apps/fg_http/priv/repo/seeds.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

wrap up users
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/templates/device/new.html.eex
  apps/fg_http/lib/fg_http_web/views/device_view.ex
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/rule_controller_test.exs
  apps/fg_http/test/support/conn_case.ex
  apps/fg_http/test/support/fixtures.ex
Due: mix-test, mix-format, mix-lint, mix-compile

add disclaimer
  README.md
Due: none

Github actions stuff
  .github/workflows/main.yml
Due: none

revert to ubuntu 18.04
  .github/workflows/main.yml
Due: none

Bump OTP ver
  .tool-versions
Due: none

Bump OTP version for CI
  .github/workflows/main.yml
Due: none

fix formatting
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/sessions.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/password_reset_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/templates/password_reset/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/new.html.eex
  apps/fg_http/priv/repo/migrations/20200225005454_create_users.exs
  apps/fg_http/priv/repo/migrations/20200521154921_create_password_resets.exs
  apps/fg_http/test/fg_http/password_resets_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/password_resets/password_reset.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/password_reset_controller.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/show.html.eex
  apps/fg_http/lib/fg_http_web/views/layout_view.ex
  apps/fg_http/lib/fg_http_web/views/password_reset_view.ex
  apps/fg_http/priv/repo/migrations/20200225005454_create_users.exs
  apps/fg_http/priv/repo/migrations/20200521154921_create_password_resets.exs
  apps/fg_http/test/fg_http/password_resets_test.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  apps/fg_http/test/support/conn_case.ex
  apps/fg_http/test/support/fixtures.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Remove unused templates
  apps/fg_http/lib/fg_http_web/templates/password_reset/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/show.html.eex
Due: none

Refactor session and pw_reset into users table
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/sessions.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/password_reset_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/plugs/redirect_authenticated.ex
  apps/fg_http/lib/fg_http_web/plugs/session_loader.ex
  apps/fg_http/lib/fg_http_web/templates/device/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/priv/repo/migrations/20200225005454_create_users.exs
  apps/fg_http/priv/repo/migrations/20200510162435_create_sessions.exs
  apps/fg_http/priv/repo/migrations/20200521154921_create_password_resets.exs
  apps/fg_http/test/fg_http/password_resets_test.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  apps/fg_http/test/support/conn_case.ex
  apps/fg_http/test/support/fixtures.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Seemingly cool
  apps/fg_http/assets/css/email.css
  apps/fg_http/lib/fg_http/email.ex
  apps/fg_http/lib/fg_http/mailer.ex
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/users/password_helpers.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/password_reset_controller.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/email/password_reset.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/email.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/views/email_view.ex
  apps/fg_http/priv/repo/migrations/20200225005454_create_users.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  config/dev.exs
  config/test.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

Seems to be working
  apps/fg_http/lib/fg_http/devices/device.ex
  apps/fg_http/lib/fg_http/email.ex
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http/sessions.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/plugs/session_loader.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/email/password_reset.html.eex
  apps/fg_http/lib/fg_http_web/templates/email/password_reset.text.eex
  apps/fg_http/lib/fg_http_web/templates/layout/email.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/views/email_view.ex
  apps/fg_http/lib/fg_http_web/views/layout_view.ex
  apps/fg_http/priv/repo/migrations/20200225005454_create_users.exs
  apps/fg_http/priv/repo/migrations/20200228145810_create_devices.exs
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fg_http/test/fg_http/password_resets_test.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  apps/fg_http/test/support/fixtures.ex
  config/dev.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Add coverage badge
  .github/workflows/main.yml
  README.md
  apps/fg_http/mix.exs
  apps/fg_vpn/mix.exs
  apps/fg_wall/mix.exs
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-lint

Stub docs
  docs/index.html
Due: none

Create CNAME
  docs/CNAME
Due: none

Need a landing page
  docs/css/style.css
  docs/index.html
Due: none

Fix umbrella coverage reporting
  .github/workflows/main.yml
Due: none

User controller tested
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/mix.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
  apps/fg_vpn/mix.exs
  apps/fg_wall/mix.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Path conditions:
  mix-test: any of: \.exs?$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
