Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

build prod release
  .github/workflows/ci.yml
Due: none

Remove arm64 builds for now
  .github/workflows/ci.yml
Due: none

Which directories are missing
  .ci/functional_test.sh
Due: none

Make directory cache
  .ci/functional_test.sh
Due: none

install.sh and refactored config check in
  .ci/functional_test.sh
  .tool-versions
  README.md
  apps/cf_common/lib/config_file.ex
  apps/cf_common/mix.exs
  apps/cf_http/assets/static/logo.svg
  config/releases.exs
  install.sh
  pkg/ubuntu-20.04/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint, mix-compile

ssl subdir
  apps/cf_common/lib/config_file.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Test functionality
  .ci/functional_test.sh
Due: none

config file tests
  apps/cf_common/lib/config_file.ex
  apps/cf_common/lib/fake_file.ex
  apps/cf_common/test/config_file_test.exs
  config/config.exs
  config/test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Fix file paths
  apps/cf_common/lib/config_file.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Fix alias
  config/releases.exs
Due: mix-test, mix-format, mix-lint

Trim strings
  apps/cf_common/lib/config_file.ex
Due: mix-test, mix-format, mix-lint, mix-compile

remove unused aliases
  .ci/functional_test.sh
  README.md
  apps/cf_common/lib/config_file.ex
  install.sh
  scripts/init_config.sh
  scripts/install.sh
Due: mix-test, mix-format, mix-lint, mix-compile

init config instructions
  config/releases.exs
Due: mix-test, mix-format, mix-lint

remove unused test
  apps/cf_common/test/config_file_test.exs
Due: mix-test, mix-format, mix-lint

DB encryption key
  apps/cf_common/lib/fake_file.ex
  apps/cf_common/test/config_file_test.exs
  scripts/init_config.sh
Due: mix-test, mix-format, mix-lint, mix-compile

Delete CNAME
  docs/CNAME
Due: none

Fix test
  .ci/functional_test.sh
  .github/workflows/ci.yml
  docs/CNAME
Due: none

sud'oh
  .github/workflows/ci.yml
Due: none

setcap properly
  .ci/functional_test.sh
Due: none

Postgres creds
  .ci/functional_test.sh
  .github/workflows/ci.yml
Due: none

Path conditions:
  mix-test: any of: \.exs?$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
