Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-test
        name: 'elixir: mix test'
        entry: mix test
        language: system
        files: \.exs?$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Install dependencies properly
  .ci/install_dependencies.sh
  .github/workflows/ci.yml
Due: none

More test coverage
  apps/fg_http/lib/fg_http/devices.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/rule_controller.ex
  apps/fg_http/test/fg_http/devices_test.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/support/test_helpers.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Add DB encryption
  apps/fg_http/lib/fg_http/application.ex
  apps/fg_http/lib/fg_http/devices/device.ex
  apps/fg_http/lib/fg_http/encrypted/binary.ex
  apps/fg_http/lib/fg_http/vault.ex
  apps/fg_http/mix.exs
  apps/fg_http/priv/repo/migrations/20200228145810_create_devices.exs
  config/dev.exs
  config/releases.exs
  config/test.exs
  mix.lock
  pkg/ubuntu-20.04/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint, mix-compile

Add change_password to Users release functionality
  apps/fg_http/lib/fg_http/release.ex
  apps/fg_vpn/lib/fg_vpn/cli/live.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Disable signup implies only one user
  CONTRIBUTING.md
  apps/fg_http/lib/fg_http/release.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/views/session_view.ex
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  config/config.exs
  config/dev.exs
  config/releases.exs
  config/test.exs
  mix.lock
  pkg/ubuntu-20.04/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint, mix-compile

npm audit fix
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
Due: none

Allow user to change default email
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/views/session_view.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Rebuild mix.lock
  mix.lock
Due: none

Fix System env fetching
  config/releases.exs
Due: mix-test, mix-format, mix-lint

Checkpoint device live
  apps/fg_http/assets/js/live_view.js
  apps/fg_http/lib/fg_http/rules.ex
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/rule_controller.ex
  apps/fg_http/lib/fg_http_web/events.ex
  apps/fg_http/lib/fg_http_web/live/device_details_live.ex
  apps/fg_http/lib/fg_http_web/live/device_details_live.html.leex
  apps/fg_http/lib/fg_http_web/live/rules_live.ex
  apps/fg_http/lib/fg_http_web/live/rules_live.html.leex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/common/obfuscated.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/_config.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/form.html.eex
  apps/fg_http/lib/fg_http_web/views/device_view.ex
  apps/fg_http/lib/fg_http_web/views/rule_view.ex
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fg_http/priv/repo/seeds.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/rule_controller_test.exs
  apps/fg_vpn/mix.exs
  apps/fg_wall/mix.exs
  config/config.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint LiveView tests
  apps/fg_http/lib/fg_http_web/mock_events.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/test/fg_http/devices_test.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/live/device_details_live_test.exs
  apps/fg_http/test/fg_http_web/live/rules_live_test.exs
  apps/fg_http/test/support/channel_case.ex
  apps/fg_http/test/support/conn_case.ex
  apps/fg_http/test/support/data_case.ex
Due: mix-test, mix-format, mix-lint, mix-compile

update packages
  apps/fg_http/assets/package-lock.json
  mix.lock
Due: none

Checkpoint
  apps/fg_http/assets/js/app.js
  apps/fg_http/assets/js/event_handlers.js
  apps/fg_http/assets/js/hooks.js
  apps/fg_http/assets/webpack.config.js
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/password_reset_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/live/account_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/account_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/device_live/index.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/index_live.ex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/edit_live.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/new_live.ex
  apps/fg_http/lib/fg_http_web/live/session_live/new.html.leex
  apps/fg_http/lib/fg_http_web/live/session_live/new_live.ex
  apps/fg_http/lib/fg_http_web/live/user_live/new_live.ex
  apps/fg_http/lib/fg_http_web/plugs/redirect_authenticated.ex
  apps/fg_http/lib/fg_http_web/plugs/session_loader.ex
  apps/fg_http/lib/fg_http_web/templates/email/password_reset.html.eex
  apps/fg_http/lib/fg_http_web/templates/email/password_reset.text.eex
  apps/fg_http/lib/fg_http_web/templates/layout/root.html.leex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/views/live_helpers.ex
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint modals and deleting user
  apps/fg_http/assets/package-lock.json
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/live/account_live/form_component.ex
  apps/fg_http/lib/fg_http_web/live/account_live/form_component.html.leex
  apps/fg_http/lib/fg_http_web/live/account_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/account_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/device_live/form_component.ex
  apps/fg_http/lib/fg_http_web/live/device_live/form_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/index.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/modal_component.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/new.html.leex
  apps/fg_http/lib/fg_http_web/live/root_live/index.html.leex
  apps/fg_http/lib/fg_http_web/live/root_live/index_live.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/views/live_helpers.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint
  .tool-versions
  apps/fg_http/lib/fg_http/rules.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rulelist_component.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rulelist_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show_live.ex
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Starting on tests
  apps/fg_http/assets/css/main.scss
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/util/fg_map.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/live/account_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/rulelist_component.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rulelist_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/session_live/new_live.ex
  apps/fg_http/lib/fg_http_web/live/user_live/new_live.ex
  apps/fg_http/mix.exs
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
  apps/fg_http/test/fg_http_web/features/sign_in_test.exs
  apps/fg_http/test/support/test_helpers.ex
  apps/fg_http/test/test_helper.exs
  config/dev.exs
  config/test.exs
Due: mix-test, mix-format, mix-lint, mix-compile
