Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

debugging steps
  .github/workflows/main.yml
Due: none

set tag_name
  .github/workflows/main.yml
Due: none

move building/publishing to tags only
  .github/workflows/build_and_publish.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

fix filename
  .github/workflows/build_and_publish.yml
Due: none

Wrap up packaging
  .github/workflows/build_and_publish.yml
  ansible/playbook.yml
  apps/fg_http/lib/fg_http/release.ex
  pkg/Dockerfile
  pkg/debian/DEBIAN/postinst
  pkg/debian/DEBIAN/templates
Due: mix-test, mix-format, mix-lint, mix-compile

Download hardcoded release ver
  ansible/playbook.yml
Due: none

re-org playbook files
  ansible/playbook.yml
  ansible/sample_conf/wg-client.conf
  ansible/sample_conf/wg-server.conf
Due: none

Iterate over package building
  .github/workflows/build_and_publish.yml
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  config/config.exs
  config/prod.exs
  config/releases.exs
  mix.exs
  pkg/debian/DEBIAN/control
  pkg/debian/DEBIAN/lib/systemd/system/fireguard.service
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint

test-pkg-build
  .github/workflows/build_and_publish.yml
  .rgignore
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  mix.exs
  pkg/debian/DEBIAN/control
Due: mix-test, mix-format, mix-lint

remove Dockerfile smoke test
  pkg/Dockerfile
  pkg/debian/DEBIAN/lib/systemd/system/fireguard.service
Due: none

Bump ver
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  mix.exs
  pkg/debian/DEBIAN/control
Due: mix-test, mix-format, mix-lint

Better package layout
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  mix.exs
  pkg/debian/DEBIAN/control
  pkg/debian/lib/systemd/system/fireguard.service
Due: mix-test, mix-format, mix-lint

fix user check
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  mix.exs
  pkg/debian/DEBIAN/control
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint

fix user creation
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  mix.exs
  pkg/debian/DEBIAN/control
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint

service starts
  ansible/playbook.yml
  apps/fg_http/mix.exs
  apps/fg_vpn/README.md
  apps/fg_vpn/mix.exs
  apps/fg_wall/README.md
  apps/fg_wall/mix.exs
  config/releases.exs
  mix.exs
  pkg/debian/DEBIAN/control
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint

Reorganizing config
  config/config.exs
  config/dev.exs
  config/test.exs
Due: mix-test, mix-format, mix-lint

fix build and publish steps
  .github/workflows/build_and_publish.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

functional test built package
  .github/workflows/ci.yml
  config/dev.exs
  config/releases.exs
  pkg/debian/DEBIAN/control
  pkg/debian/DEBIAN/postinst
Due: mix-test, mix-format, mix-lint

fix typo
  .github/workflows/ci.yml
Due: none

use sha for master merges
  .github/workflows/ci.yml
Due: none

Path conditions:
  mix-test: any of: \.exs?$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
