Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-test
        name: 'elixir: mix test'
        entry: mix test
        language: system
        files: \.exs?$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Sessions and Users controller testing
  apps/fg_http/lib/fg_http/devices.ex
  apps/fg_http/lib/fg_http/devices/device.ex
  apps/fg_http/lib/fg_http/rules.ex
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http/sessions.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/rule_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/plugs/session_loader.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/rule_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  apps/fg_http/test/support/conn_case.ex
  apps/fg_http/test/support/fixtures.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Session fixes, coverage
  apps/fg_http/lib/fg_http_web/plugs/redirect_authenticated.ex
  apps/fg_http/lib/fg_http_web/router.ex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

more coverage
  apps/fg_http/coveralls.json
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http/util/fg_map.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/test/fg_http/util/fg_map_test.exs
  apps/fg_http/test/fg_http_web/controllers/rule_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

Test FgCrypto
  apps/fg_http/test/fg_http/util/fg_crypto_test.exs
Due: mix-test, mix-format, mix-lint

higher coverage
  .github/workflows/main.yml
  .tool-versions
  apps/fg_http/lib/fg_http/util/fg_crypto.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/lib/fg_http_web/templates/device/new.html.eex
  apps/fg_http/mix.exs
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  apps/fg_http/test/fg_http_web/live/new_device_live_test.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

higher coverage, logo
  apps/fg_http/lib/fg_http/rules.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/error_helpers.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/new.html.eex
  apps/fg_http/lib/fg_http_web/views/device_view.ex
  apps/fg_http/test/fg_http/password_resets_test.exs
  apps/fg_http/test/fg_http_web/controllers/device_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
  apps/fg_http/test/fg_http_web/live/new_device_live_test.exs
  apps/fg_http/test/support/fixtures.ex
  docs/css/style.css
  docs/img/logo.svg
  docs/index.html
Due: mix-test, mix-format, mix-lint, mix-compile

Add missing assertion to user_controller_test
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

adding .vscode folder
  .gitignore
Due: none

Bump phoenix live view
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/mix.exs
  mix.lock
Due: mix-test, mix-format, mix-lint

Add Sass CSS
  apps/fg_http/assets/css/app.scss
  apps/fg_http/assets/css/email.css
  apps/fg_http/assets/css/email.scss
  apps/fg_http/assets/css/main.css
  apps/fg_http/assets/css/main.scss
  apps/fg_http/assets/js/app.js
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  apps/fg_http/assets/postcss.config.js
  apps/fg_http/assets/webpack.config.js
Due: none

Add bulma, fontawesome, start styling for better style
  apps/fg_http/assets/css/app.scss
  apps/fg_http/assets/js/hooks/qr_code.js
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  apps/fg_http/assets/webpack.config.js
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.html.leex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/flash.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/nav.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/new.html.eex
  apps/fg_http/lib/fg_http_web/views/layout_view.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint
  .tool-versions
  apps/fg_http/lib/fg_http/users/session.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/lib/fg_http_web/templates/device/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/views/rule_view.ex
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

Checkpoint
  apps/fg_http/assets/css/main.scss
  apps/fg_http/lib/fg_http/devices.ex
  apps/fg_http/lib/fg_http_web/controllers/device_controller.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.html.leex
  apps/fg_http/lib/fg_http_web/templates/device/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/app.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/flash.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/nav.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/lib/fg_http_web/views/device_view.ex
  apps/fg_http/mix.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

bump elixir
  .github/workflows/main.yml
  .tool-versions
Due: none

Fix tests
  .github/workflows/main.yml
  .tool-versions
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  apps/fg_http/lib/fg_http_web/controllers/rule_controller.ex
  apps/fg_http/lib/fg_http_web/templates/user/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/lib/fg_http_web/views/device_view.ex
Due: mix-test, mix-format, mix-lint, mix-compile

installation instructions
  .gitignore
  README.md
Due: none

Join with space
  apps/fg_http/lib/fg_http_web/views/device_view.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Minor UI improvements
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http_web/templates/device/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/flash.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/session/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/lib/fg_http_web/views/rule_view.ex
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fg_http/test/fg_http_web/controllers/rule_controller_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

update deps
  .tool-versions
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  mix.lock
Due: none

Checkpoint
  .tool-versions
  apps/fg_http/lib/fg_http/ecto_enums.ex
  apps/fg_http/lib/fg_http_web/error_helpers.ex
  apps/fg_http/lib/fg_http_web/live/new_device_live.html.leex
  apps/fg_http/lib/fg_http_web/templates/device/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/device/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/layout/flash.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/password_reset/new.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/form.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/index.html.eex
  apps/fg_http/lib/fg_http_web/templates/rule/show.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/edit.html.eex
  apps/fg_http/lib/fg_http_web/templates/user/show.html.eex
  apps/fg_http/lib/fg_http_web/views/rule_view.ex
  apps/fg_http/priv/repo/migrations/20200228145810_create_devices.exs
  apps/fg_http/test/fg_http_web/controllers/password_reset_controller_test.exs
  apps/fg_http/test/fg_http_web/controllers/rule_controller_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile
