Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-test
        name: 'elixir: mix test'
        entry: mix test
        language: system
        files: \.exs?$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

text-centered
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
Due: mix-test, mix-format, mix-lint, mix-compile

Tests passing
  apps/fg_http/lib/fg_http/devices/device.ex
  apps/fg_http/test/fg_http_web/controllers/session_controller_test.exs
  apps/fg_http/test/fg_http_web/live/device_details_live_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

Fix CLI lib move error
  config/releases.exs
Due: mix-test, mix-format, mix-lint

No need for python
  .tool-versions
Due: none

Checkpoint tests about halfway
  apps/fg_common/lib/fg_crypto.ex
  apps/fg_common/lib/fg_map.ex
  apps/fg_common/lib/fg_net.ex
  apps/fg_common/mix.exs
  apps/fg_common/test/fg_crypto_test.exs
  apps/fg_common/test/fg_map_test.exs
  apps/fg_common/test/fg_net_test.exs
  apps/fg_http/lib/fg_http/devices.ex
  apps/fg_http/lib/fg_http/ecto_enums.ex
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/release.ex
  apps/fg_http/lib/fg_http/rules.ex
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http/util/fg_crypto.ex
  apps/fg_http/lib/fg_http_web/events.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.ex
  apps/fg_http/lib/fg_http_web/live/session_live/new_live.ex
  apps/fg_http/mix.exs
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fg_http/test/fg_http/devices_test.exs
  apps/fg_http/test/fg_http/password_resets_test.exs
  apps/fg_http/test/fg_http/release_test.exs
  apps/fg_http/test/fg_http/rules_test.exs
  apps/fg_http/test/fg_http/sessions_test.exs
  apps/fg_http/test/fg_http/users_test.exs
  apps/fg_http/test/support/fixtures.ex
  apps/fg_http/test/support/test_helpers.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Update Ecto.Enum
  .tool-versions
  apps/fg_http/lib/fg_http/ecto_enums.ex
  apps/fg_http/lib/fg_http/rules.ex
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/session_controller.ex
  apps/fg_http/mix.exs
  apps/fg_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fg_http/test/fg_http/users_test.exs
  apps/fg_http/test/support/test_helpers.ex
  apps/fg_wall/lib/fg_wall/cli/live.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Only liveview tests remain...
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/controllers/user_controller.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/new_live.ex
  apps/fg_http/lib/fg_http_web/plugs/disable_signup.ex
  apps/fg_http/test/fg_http/password_resets_test.exs
  apps/fg_http/test/fg_http/sessions_test.exs
  apps/fg_http/test/fg_http/users_test.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

checkpoint
  apps/fg_http/test/fg_http_web/live/device_live/index_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/show_test.exs
Due: mix-test, mix-format, mix-lint

Starting liveview tests
  apps/fg_common/lib/fg_map.ex
  apps/fg_common/test/fg_map_test.exs
  apps/fg_http/lib/fg_http/users.ex
  apps/fg_http/lib/fg_http/users/user.ex
  apps/fg_http/lib/fg_http_web/live/account_live/form_component.html.leex
  apps/fg_http/lib/fg_http_web/views/live_helpers.ex
  apps/fg_http/test/fg_http/users_test.exs
  apps/fg_http/test/fg_http_web/controllers/user_controller_test.exs
  apps/fg_http/test/fg_http_web/live/account_live/show_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/form_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/rule_list_test.exs
  apps/fg_http/test/fg_http_web/live/modal_test.exs
  apps/fg_http/test/fg_http_web/live/password_reset_live/edit_test.exs
  apps/fg_http/test/fg_http_web/live/password_reset_live/new_test.exs
  apps/fg_http/test/fg_http_web/live/root_live/index_test.exs
  apps/fg_http/test/fg_http_web/live/session_live/new_test.exs
  apps/fg_http/test/fg_http_web/live/user_live/new_test.exs
  config/test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

first of live views
  apps/fg_http/lib/fg_http_web/live/account_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/account_live/show_live.ex
  apps/fg_http/test/fg_http_web/live/account_live/show_test.exs
Due: mix-test, mix-format, mix-lint, mix-compile

increase queue_target
  config/test.exs
Due: mix-test, mix-format, mix-lint

tweak queue_target further
  config/releases.exs
  config/test.exs
Due: mix-test, mix-format, mix-lint

play around with more test config settings
  config/test.exs
Due: mix-test, mix-format, mix-lint

reduce pool_size for tests
  config/test.exs
Due: mix-test, mix-format, mix-lint

Enough coverage?
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http_web/live/device_live/form_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show_live.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/edit.html.leex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/edit_live.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/new.html.leex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/new_live.ex
  apps/fg_http/test/fg_http/rules_test.exs
  apps/fg_http/test/fg_http_web/live/account_live/show_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/form_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/index_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/rule_list_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/show_test.exs
  apps/fg_http/test/fg_http_web/live/modal_test.exs
  apps/fg_http/test/fg_http_web/live/password_reset_live/edit_test.exs
  apps/fg_http/test/fg_http_web/live/password_reset_live/new_test.exs
  apps/fg_http/test/support/fixtures.ex
  apps/fg_http/test/support/test_helpers.ex
Due: mix-test, mix-format, mix-lint, mix-compile

Finish tests
  .tool-versions
  apps/fg_http/lib/fg_http/password_resets.ex
  apps/fg_http/lib/fg_http/users/password_reset.ex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.ex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/edit.html.leex
  apps/fg_http/lib/fg_http_web/live/password_reset_live/edit_live.ex
  apps/fg_http/lib/fg_http_web/live/session_live/new.html.leex
  apps/fg_http/lib/fg_http_web/live/user_live/new.html.leex
  apps/fg_http/test/fg_http_web/live/account_live/show_test.exs
  apps/fg_http/test/fg_http_web/live/device_live/show_test.exs
  apps/fg_http/test/fg_http_web/live/password_reset_live/edit_test.exs
  apps/fg_http/test/fg_http_web/live/session_live/new_test.exs
  apps/fg_http/test/fg_http_web/live/user_live/new_test.exs
  apps/fg_http/test/support/conn_case.ex
  apps/fg_http/test/support/fixtures.ex
  apps/fg_http/test/support/test_helpers.ex
  apps/fg_vpn/lib/fg_vpn/config.ex
Due: mix-test, mix-format, mix-lint, mix-compile

releases pool size
  config/releases.exs
Due: mix-test, mix-format, mix-lint

better; still not great
  .tool-versions
  apps/fg_common/lib/name_generator.ex
  apps/fg_common/test/name_generator_test.exs
  apps/fg_http/assets/css/main.scss
  apps/fg_http/assets/package-lock.json
  apps/fg_http/lib/fg_http/devices.ex
  apps/fg_http/lib/fg_http/rules/rule.ex
  apps/fg_http/lib/fg_http_web/live/device_live/index.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/rule_list_component.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/user_live/new.html.leex
  apps/fg_http/mix.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile

Fix npm audit
  .github/workflows/ci.yml
  .tool-versions
  apps/fg_http/assets/package-lock.json
  apps/fg_http/assets/package.json
  mix.lock
Due: none

Add Bakeware for single executable releases
  .github/workflows/ci.yml
  apps/fg_http/lib/fg_http_web/live/account_live/show.html.leex
  apps/fg_http/lib/fg_http_web/live/device_live/show.html.leex
  apps/fg_http/lib/fg_http_web/views/live_helpers.ex
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-lint, mix-compile
